matplotlib==2.2.2
nltk==3.4
pandas==0.22.0
spacy==2.0.11
wordcloud==1.4.1
pypandoc==1.4
gensim==3.4.0
texttable==1.2.1
tox
unittest2
python-dotenv
fuzzywuzzy
fuzzysearch
python-Levenshtein
pandasql
DKPro-PyCAS==0.1.1a0