spacy==2.1.4
nltk==3.6.3
pandas==0.22.0
pypandoc==1.4
gensim==3.4.0
texttable==1.2.1
tox
unittest2
python-dotenv
fuzzywuzzy
fuzzysearch
python-Levenshtein
pandasql
git+https://github.com/dkpro/dkpro-pycas.git@d23aabbab853d1c04f3544ccc764ec2c19973441